/* Navi bar style START */
/* Add a black background color to the navi bar*/
.topnav{
    background-color: #21293a;
    overflow: hidden;
   
}
/* Style the links inside the navi bar*/
.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;    
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/*Change the color of links on hover */
.topnav a:hover{
    background-color: #ddd;
    color:black;
}

/* Add a color to the active/current link*/
.topnav a.active {
    background-color: #04AA6D;
    color: white
}
/* Navi bar style end */

/*back ground color*/

body{
    background-color: #2e3440;
    
}
h1{
    color:lightgray;
}
p{
    color:lightgray;
}
a:visited{
    color: green;
}